<div class="ui main text container">
  <div class="ui huge header title_your_post">Food Blog!</div>
  <div class="ui top attached segment">
    <div class="ui divided items">
      <% current_user.blog_posts.each do |blog_post| %>
        <div class="item">
          <div class="image">
            <%= image_tag blog_post.avatar.url(:medium) %>
          </div>
          <div class="content">
            <a class="header"><%= link_to blog_post.title, blog_post %></a>
            <p>By: <%= blog_post.user.username %></p>
            <div class="meta">
              <span><%= blog_post.created_at.strftime('%m/%d/%Y') %></span>
            </div>
            <div class="description">
              <p><%= blog_post.blog_entry[0..250] %>...<%= link_to "Read More", blog_post, class: "ui floated basic blue button right chevron icon" %></p> 
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
